#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

:root{
  --color1: #202020;
  --color2: #ffffff;
  --color3: #2c3e50;
  --colorTest : #ff0080;
}

body {
  background : var(--color2);
  padding : 0px;
  margin : auto;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 1rem;
  padding: 10px, 20px;
}
  
a {
  display: block;
  max-width: 400px;
  margin: 0 auto 0px auto;
  padding: 10px 20px;
  font-size: 0.95rem;
  background-color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color2);
  border-radius: 26px;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-align: center;
}

.header {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  text-align: center;
  padding: 10px 16px;
  background: #ffffff;
  
  color: var(--color3);
}

#canvasContainer {
  margin: 0 auto 0px auto;
  background-color: var(--colorTest);
  max-width: 400px;
  position: relative;
  display: block;
}

canvas {
  height: 100vh;
  max-height: 400px;
  display: flex;
  margin: auto;

  justify-content: center;
  background-color: var(--colorTest);
}

#camera {
  width: 30px;
  display: block;
  position: relative;
  margin: 10px auto 10px auto;

  /*filter: invert(100%) sepia(1%) saturate(7%) hue-rotate(1deg) brightness(105%) contrast(100%);*/
}

.CaptureButton {
  width: 50px;
  display: block;
  margin: 10px auto 10px auto;
  background-color: var(--color2);
  border: 2.5px solid var(--color1);
  border-radius: 35%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; 
}
.CaptureButton:hover {
  background-color: var(--color1);
}

.controls {
  padding: 10px 16px;
}

.accordion {
  display: block;
  /*max-width: 400px;*/
  width: 400px;
  margin: 0 auto 0px auto;
  padding: 10px 20px;
  font-size: 0.95rem;
  
  /*background-color: #eee;*/
  color: var (--color1);
  cursor: pointer;
  /*padding: 18px;*/
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 15px;*/
  /*transition: 0.4s;*/
  transition: all 150ms ease-in-out;
}

.active, .accordion:hover {
  background-color: #ccc; 
  text-decoration: underline;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  
}